# Read method

In [28]:
file = open("C:/Users/Admin/Desktop/AIS Assignment/India.txt", "r")
print(file.read())

India is my country.
All indians are my brothers and sisters.
I love my country.

In [29]:
file = open("C:/Users/Admin/Desktop/AIS Assignment/India.txt", "r")
print(file.readline())

India is my country.

In [30]:
file = open("C:/Users/Admin/Desktop/AIS Assignment/India.txt", "r")
print(file.readlines())

['India is my country.\n', 'All indians are my brothers and sisters.\n', 'I love my country.']

In [31]:
import pandas as pd
f1=pd.read_csv("C:/Users/Admin/Desktop/AIS Assignment/marks.csv")

In [33]:
f1

     name  age  percentage  grade
0  chetan   23          88      8
1  karuna   21          85      8
2   rajas   24          80      7

# Lambda Expression

In [35]:
cube=lambda x:x*x*x
print(cube(3))

27

In [36]:
mean=lambda x,y:x+y/2
print(mean(12,15))

19.5

In [39]:
add=lambda x,y:x+y
sub=lambda x,y:x-y
mul=lambda x,y:x*y
div=lambda x,y:x/y
print(add(5,6))
print(sub(5,6))
print(mul(5,6))
print(div(5,6))

11
-1
30
0.8333333333333334

# format method

In [37]:
print("{} is {} years old and his weight is {}".format('chetan',23,64))

chetan is 23 years old and his weight is 64

In [38]:
txt="{name} is {age} years old and his weight is {wt:.2f}"
print(txt.format(name='chetan', age=23, wt=64.6996))

chetan is 23 years old and his weight is 64.70

# filter method

In [41]:
num=[10,34,26,34,69,96,50,75]
def greater50(item):
    return item>50
fil=filter(greater50,num)
for i in fil:
    print(i)

69
96
75

In [42]:
result = filter(lambda x: x % 2 != 0, range(20))
print(list(result))
result = filter(lambda x: x % 2 == 0, range(20))
print(list(result))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# map function

In [43]:
l1=[10,20,30,40,50,60,70,80,90,100]
l2=[5,10,15,20,25,30,35,40,45,50,55]
print(list(map(lambda x,y:x+y,l1,l2)))

[15, 30, 45, 60, 75, 90, 105, 120, 135, 150]

In [44]:
def add(x):
    return x+x
def square(x):
    return x*x
nums=[1,2,3,4,5,6,7,8,9,10]
for i in nums:
    vals=list(map(lambda x: x(i), (add,square)))
    print(vals)

[2, 1]
[4, 4]
[6, 9]
[8, 16]
[10, 25]
[12, 36]
[14, 49]
[16, 64]
[18, 81]
[20, 100]

# User defined Functions

In [49]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mult(a,b):
    return a*b
def div(a,b):
    return a/b
a,b=input("Enter 2 numbers to perform add sub mult div").split()
a=int(a)
b=int(b)
print(add(a,b))
print(sub(a,b))
print(mult(a,b))
print(div(a,b))

Enter 2 numbers to perform add sub mult div20 25
45
-5
500
0.8

In [51]:
def prime(num):
    if num == 1:
        print(num, "is not a prime number")
    elif num == 2:
        print(num, "is a prime number")
    elif num>2:
        for i in range(2,num):
            if (num%i)==0:
                print(num,"is not a prime number")
                break
            else:
                print(num,"is a prime number")
                break
    

            
num = int(input("Enter a number: "))
prime(num)

Enter a number: 56
56 is not a prime number