# Sets in Python

In [1]:
#set is an unordered collection of unique elements. 
#Enclosed with {}
#Set objects are mutable
#Duplicates are not allowed
#Insertion order is not preserved so indexing and slicing is not allowed for sets.

# Creation of sets

In [2]:
#1. with {}
s1={10,20,30,40}
s1

{10, 20, 30, 40}

In [3]:
#2. using set() function
s2=set({50,60,70,80})
s2

{50, 60, 70, 80}

In [4]:
s3=set("chetan dongare")
s3

{' ', 'a', 'c', 'd', 'e', 'g', 'h', 'n', 'o', 'r', 't'}

# Accessing set elements

In [5]:
#we can access set elements using looping statements
set1={1,2,3,(4,5)}
for i in set1:
    print(i)

3
1
(4, 5)
2

# Deleting set

In [6]:
#we can delete the set using del keyword
del set1
set1

NameError: name 'set1' is not defined

# Methods on set

# 1 Union()

In [7]:
#It returns a set with elements from other
s1={1,2,3}
s2={4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

# 2 Intersection()

In [9]:
#It returns a set with elements which are common to the set and all others
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s1.intersection(s2)

{3, 4, 5}

# 3 difference()

In [18]:
#It returns a set with elements which are not in all other sets
s1={10,20,30,40}
s2={30,40,50,60}
s1.difference(s2)

{10, 20}

# Mutation operations on set

# 1 set.add(value)

In [19]:
#It adds an element to the set
s1={10,20,30}
s1.add(40)
s1

{10, 20, 30, 40}

# 2 set.remove(value)

In [21]:
# It removes the element from the set. If element not present then show error
s1={10,20,30,40,50}
s1.remove(40)
s1

{10, 20, 30, 50}

# 3 set.discard(value)

In [22]:
#It removes the element from the set.  If element not present then does not show error
s1=set(range(10,100,10))
s1.discard(60)
s1

{10, 20, 30, 40, 50, 70, 80, 90}

# 4 set.pop()

In [23]:
#It removes and returns the removed element from set
s1=set(range(10,50,5))
s1.pop() #no indexing so removes random last elements

35

# 5 set.clear()

In [24]:
#It removes all values from set and makes it empty
s1={1,2,3,4,5}
s1.clear()
s1

set()

# Updation operations on sets

# 1 set.update(set2,...,set n)

In [27]:
#It adds elements from set2,...,set n
s1={1,2,3,4,5}
s2={6,7,8,9}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
#This operation represented by symbol |=
s1={1,2,3,4,5}
s2={6,7,8,9}
s1 |= s2
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# 2 set.intersection_update(set2,...,set n)

In [28]:
#It updates the common elements from all sets
s1={1,2,3,4}
s2={3,4,5,6}
s1.intersection_update(s2)
s1

{3, 4}

In [31]:
#This operation represented by symbol &=
s1={1,2,3,4}
s2={3,4,5,6}
s1 &= s2
s1

{3, 4}

# 3 set.difference_update(set2,...,setn)

In [34]:
#It updates the set by removing the elements in other sets
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s1.difference_update(s2) 
s1

{1, 2}

In [33]:
#This operation represented by symbol -=
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s1 -= s2
s1

{1, 2}

# Functions on set

# 1 len()

In [35]:
#this returns number of elements in set
s1={1,2,3,4,5}
len(s1)

5

# 2 sum()

In [36]:
#this returns the sum of set elements
#1. without index argument
s1={1,2,3,4,5}
sum(s1)

15

In [37]:
#2. with index argument
s1=set(range(1,10,1))
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
sum(s1,3)

48

# 3 sorted()

In [40]:
#It sorts the set elements in ascending or descending order
#1. Ascending order
s1={45,69,96,63,36,24}
sorted(s1)

[24, 36, 45, 63, 69, 96]

In [41]:
#2. Descending order
sorted(s1,reverse=True)

[96, 69, 63, 45, 36, 24]

# 4 max()

In [42]:
#It returns the largest element from set
s1={45,69,96,63,36,24}
max(s1)

96

# 5 min()

In [43]:
#It returns the least element from set
s1={45,69,96,63,36,24}
min(s1)

24