# Tuples in python

In [1]:
#touple is a seqence of immutable objects
#tuple contains comma seperated values and enclosed with ()

# Creation of tuple

In [2]:
#1 using () brackets
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [5]:
#2. using tuple() method
t2=tuple((1,2,3,4,5,6))
t2

(1, 2, 3, 4, 5, 6)

In [7]:
t3=tuple('chetan dongare')
t3

('c', 'h', 'e', 't', 'a', 'n', ' ', 'd', 'o', 'n', 'g', 'a', 'r', 'e')

# Slicing of tuples

In [10]:
t1=(1,2,3,4,5,6,7,8,9,10)
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
#1. tuple[:] or tuple[::] used to print whole tuple
t1[::]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [12]:
#2. tuple[start:] used to print items of tuple from given index
t1[4:]

(5, 6, 7, 8, 9, 10)

In [13]:
#3. tuple[:end] used to print items of tuple upto given index, It excludes last index
t1[:5]

(1, 2, 3, 4, 5)

In [14]:
#4. tuple[start:end:step] prints elements from start to end index with step value
t1[2:9:2]

(3, 5, 7, 9)

In [19]:
#5. supports -ve index slicing
t1[-1:-8:-1]

(10, 9, 8, 7, 6, 5, 4)

# Deleting a tuple

In [21]:
#we delete tuples using del keyword
t1=(1,2,3,4,5,6,7,8,9,10)
del t1
t1

NameError: name 't1' is not defined

# Methods on tuples

In [22]:
#tuples support only 2 methods 1.Count 2.Index

# 1 count()

In [23]:
#count() method used to find number of occurence of item in the tuple
t1=(1,2,3,4,5,4,3,2,1,2,3)
t1.count(2)

3

# 2 Index()

In [24]:
#index() method returns the index of item at first occurence
t1=(1,2,3,4,5,4,3,2,1,2,3)
t1.index(4,4)

5

# Functions of tuples

# 1 len()

In [25]:
#It returns the number of items present in tuple
t1=(1,2,3,4,5,4,3,2,1,2,3)
len(t1)

11

# 2 sum()

In [26]:
#It returns the sum of the elements.
t1=(1,2,3,4,5,4,3,2,1,2,3)
sum(t1)

30

# 3 sorted()

In [27]:
#It sorts the elements of tuples in ascending or descending order
#1. Ascending Order
t1=(36,24,56,45,28,38,96,69)
sorted(t1)

[24, 28, 36, 38, 45, 56, 69, 96]

In [28]:
#2. Descending order
sorted(t1,reverse=True)

[96, 69, 56, 45, 38, 36, 28, 24]

# 4 Reversed(seq)

In [32]:
#It reverses the tuple. Seq must be an object
t1=(36,24,56,45,28,38,96,69)
tuple(reversed(t1))

(69, 96, 38, 28, 45, 56, 24, 36)

# 5 Max()

In [33]:
#It returns the largest element from tuple
t1=(36,24,56,45,28,38,96,69)
max(t1)

96

# 6 Min()

In [34]:
#It returns the least element from tuple
t1=(36,24,56,45,28,38,96,69)
min(t1)

24